@using BTCPayServer.Services.Altcoins.Pirate.Services
@inject PirateRPCProvider PirateRpcProvider
@inject SignInManager<ApplicationUser> SignInManager;

@if (SignInManager.IsSignedIn(User) && User.IsInRole(Roles.ServerAdmin) && PirateRpcProvider.Summaries.Any())
{
    @foreach (var summary in PirateRpcProvider.Summaries)
    {
        @if (summary.Value != null)
        {
            <h4>@summary.Key</h4>
            <ul >
                <li >Node available: @summary.Value.DaemonAvailable</li>
                <li >Wallet available: @summary.Value.WalletAvailable</li>
                <li >Last updated: @summary.Value.UpdatedAt</li>
            </ul>
        }
    }
}
